.path-mod-pdfmagic .pdfmagiccontent {
    text-align: center;
}

.path-mod-pdfmagic .pdfmagicdetails {
    font-size: 0.8em;
    color: #555;
}

.pdfmagiclinkdetails {
    font-size: 0.8em;
    color: #555;
}

#item_list_selected {
      background-color: rgba(195, 176, 145, .9);
    width: 206px;
    right: 20px;
    min-height: 100px;
    top: 82px;
    position: fixed;
}

.add {
    cursor: pointer;
}

#delete_items {
     cursor: pointer;
}